# %pip install datasets
# %pip install numpy
# %pip install matplotlib
# %pip install Pillow
# %pip install opencv-python
# %pip install torch
# !pip install torchvision
# !pip install scikit-image
# !pip install scipy
# !pip install easyocr